* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  
}
body {
  font-family: 'Satoshi', sans-serif;
  background: url('./images/teambg.png') no-repeat center center ; 
  background-size: cover; 
  color: white;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center middle;
  justify-content: space-between;
  padding: 0.5rem 2rem; 
  background-color: rgba(0, 0, 0, 1); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header .logo {
  flex: 1;
  margin-left: 2rem; 
  padding-top: 5px;
}

header .logo img {
  width: 320px; 
}
#custom-cursor {
  position: absolute;
  width: 32px;
  height: 32px;
  pointer-events: none;
  z-index: 9999;
  background: url('./images/customcursor.png') no-repeat center center;
  background-size: contain;
border-radius: 50%;
box-shadow: 0 0 10px rgb(0, 229, 255), 0 0 20px rgb(1, 255, 251), 0 0 30px #0ff, 0 0 40px #0ff;
}
header .nav-links {
  flex: 2;
  display: flex;
  justify-content: center; 
  align-items: center; 
  list-style: none;
  padding-top: 0; 
}

header .nav-links li {
  margin: 0 1rem;
}
header .nav-links a:hover {
  color: #504CFF;
}

header .join-us {
  flex: 1;
  text-align: right;
  padding-top: 10px;
}

header .join-us a {
  background-color: transparent;
  font-size: 18px;
  border: 1px solid white;
  padding: 0.2rem 0.6rem; 
  border-radius: 18px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

header .join-us a:hover {
  background-color: #504CFF;
  color: black;
}
header .nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem; 
  transition: color 0.3s ease;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 0;
  overflow: hidden; 
}

header .nav-links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 100%;
  background-color: white;
  z-index: -1; 
  border-radius: 40px; 
  transition: width 0.3s ease-in, left 0.3s ease-out;
}

header .nav-links a.active::before {
  width: 100%;
  left: 0;
}

header .nav-links a.active {
  color: black;
  transition: color 0.3s ease;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding-top: 8rem; 
  background: url('./images/homebg.png') no-repeat center center fixed; 
  background-size: cover;
}

.hero .badge {
  border: #f39c12 2px solid;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.hero .badge span {
  color: #f39c12;
  font-weight: bold;
}

.hero h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
}

.cta-buttons a {
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.cta-buttons .learn-more {
  background-color: #3498db;
  color: white;
}

.cta-buttons .join-now {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.cta-buttons a:hover {
  background-color: #504CFF;
  color: black;
}

.scroll-indicator {
  position: relative;
  width: 100px; 
  height: 200px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circular-text {
  position: absolute;
  width: 80px; 
  height: 80px; 
  transform: translate(-40px, -35px); 
}

.circular-text span {
  position: absolute;
  transform-origin: 60px 60px; 
  font-size: 0.7rem; 
  color: white;
  white-space: nowrap;
}

.circular-text span:nth-child(1) { transform: rotate(0deg) translateX(40px); }
.circular-text span:nth-child(2) { transform: rotate(15deg) translateX(40px); }
.circular-text span:nth-child(3) { transform: rotate(30deg) translateX(40px); }
.circular-text span:nth-child(4) { transform: rotate(45deg) translateX(40px); }
.circular-text span:nth-child(5) { transform: rotate(60deg) translateX(40px); }
.circular-text span:nth-child(6) { transform: rotate(75deg) translateX(40px); }
.circular-text span:nth-child(7) { transform: rotate(90deg) translateX(40px); }
.circular-text span:nth-child(8) { transform: rotate(105deg) translateX(40px); }
.circular-text span:nth-child(9) { transform: rotate(120deg) translateX(40px); }
.circular-text span:nth-child(10) { transform: rotate(135deg) translateX(40px); }
.circular-text span:nth-child(11) { transform: rotate(150deg) translateX(40px); }
.circular-text span:nth-child(12) { transform: rotate(165deg) translateX(40px); }
.circular-text span:nth-child(13) { transform: rotate(180deg) translateX(40px); }
.circular-text span:nth-child(14) { transform: rotate(195deg) translateX(40px); }
.circular-text span:nth-child(15) { transform: rotate(210deg) translateX(40px); }
.circular-text span:nth-child(16) { transform: rotate(225deg) translateX(40px); }
.circular-text span:nth-child(17) { transform: rotate(240deg) translateX(40px); }
.circular-text span:nth-child(18) { transform: rotate(255deg) translateX(40px); }
.circular-text span:nth-child(19) { transform: rotate(270deg) translateX(40px); }
.circular-text span:nth-child(20) { transform: rotate(285deg) translateX(40px); }
.circular-text span:nth-child(21) { transform: rotate(300deg) translateX(40px); }
.circular-text span:nth-child(22) { transform: rotate(315deg) translateX(40px); }
.circular-text span:nth-child(23) { transform: rotate(330deg) translateX(40px); }
.circular-text span:nth-child(24) { transform: rotate(345deg) translateX(40px); }

.arrow {
  position: absolute;
  font-size: 1.5rem;
  color: white;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.domains {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px; 
  padding: 40px;
  background-color: #181818;
  color: white;
  background-image: url('./images/bg.png');
  background-size: cover;
  background-position: center; 
  
}

.domains h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  background: linear-gradient(to right, #F5E218 40%, #F520F5 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5rem;
  color: #F5E218;
}



.domain-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%; 
  max-width: 550px;
  height: 280px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px; 
}

.domain-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.domain-card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%; 
}

.domain-card h2 {
  font-size: 2.6rem;
  margin-bottom: 10px;
  margin-top: 0;
}

.domain-card p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.domain-card .people {
  display: flex;
  align-items: center; 
}

.domain-card .people img {
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -10px;
  position: relative;
}

.domain-card .people img:first-child {
  margin-left: 0; 
}

.team-section {
  padding: 2rem;
  text-align: center;
  background-image: url('./images/teambg.png');
  background-size: cover;
}

.team-header h1 {
  font-size: 2.5rem;
  background: linear-gradient(to right, #F5E218 40%, #F520F5 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5rem;
}

.team-header h1 span {
  color: #ff69b4;
}

.team-header .subtitle {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2rem;
}
.executive-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(30, 30, 50, 0.9);
  border-radius: 15px;
  padding: 1rem; 
  margin-bottom: 1.5rem; 
  position: relative;
  max-width: 95%;
  margin-left: auto; 
  margin-right: auto; 
}


.executive-text {
  text-align: left;
  max-width: 60%; 
}

.executive-body h2 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
  padding-top: 12px;
  position: relative; 
}

.executive-body h2::before {
  content: '';
  position: absolute;
  top: 0px; 
  left: 0;
  width: 175px;
  height: 3px; 
  background-color: #504cff; 
  border-radius: 2px;
  box-shadow: 0 0 10px #504cff, 0 0 20px #504cff; }


.executive-body .view-now {
  display: inline-block;
  margin-top: 0.1rem;
  color: white;
  text-decoration: none;
  background: #504cff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.executive-body .view-now:hover {
  background: #6967ec;
}

.profile-pics {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-pics img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -15px; 
  z-index: 1; 
  transition: transform 0.3s ease;
}

.profile-pics img:hover {
  transform: scale(1.1); 
}

.profile-pics-container {
  max-width: 35%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.executive-body .profile-pics {
  display: flex;
  gap: -10px; 
}

.executive-body .profile-pics img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateX(-5px); 
}
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); 
  gap: 1rem;
  max-width: 95%; 
  margin: 1rem auto; 
}


.team-card {
  background: #1C1E35;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.team-line {
  height: 4px;
  width: 55%; 
  border-radius: 2px;
  margin-bottom: 10px; 
}

.team-card-header {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-top: 10px;
}

.team-card-header h3 {
  margin: 0;
  font-size: 2rem;
}

.team-card-header .expand {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  text-decoration: none; 
}
.team-card-header .expand2 {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  text-decoration: none; 
}
.team-card-header .expand3 {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  text-decoration: none; 
}
.team-card-header .expand4 {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  text-decoration: none; 
}
.team-card-header .expand5 {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  text-decoration: none; 
}
.team-card-header .expand6 {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  text-decoration: none; 
}
.team-card-header .expand7 {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  text-decoration: none; 
}
.team-card-header .expand8 {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  text-decoration: none; 
}

.team-card-header .expand:hover {
  opacity: 1;
  color: #FFDD00;
}

.team-card-header .expand2:hover {
  opacity: 1;
  color: #FA6807;
}

.team-card-header .expand3:hover {
  opacity: 1;
  color: #07fac9;
}
.team-card-header .expand4:hover {
  opacity: 1;
  color: #FA07EA;
}
.team-card-header .expand5:hover {
  opacity: 1;
  color: #0707FA;
}
.team-card-header .expand6:hover {
  opacity: 1;
  color: #FA075C;
}
.team-card-header .expand7:hover {
  opacity: 1;
  color: #23fa07;
}
.team-card-header .expand8:hover {
  opacity: 1;
  color: #007DA3;
}
.team-line1{
  box-shadow: 0 0 10px #FFDD00, 0 0 20px #FFDD00;
}
.team-line2{
  box-shadow: 0 0 10px #FA6807, 0 0 20px #FA6807;
}
.team-line3{
  box-shadow: 0 0 10px #07FAC9, 0 0 20px #07FAC9;
}
.team-line4{
  box-shadow: 0 0 10px #fa07ea, 0 0 20px #fa07ea;
}
.team-line5{
  box-shadow: 0 0 10px #0707FA, 0 0 20px #0707FA;
}
.team-line6{
  box-shadow: 0 0 10px #FA075C, 0 0 20px #FA075C;
}
.team-line7{
  box-shadow: 0 0 10px #23fa07, 0 0 20px #23fa07;
}
.team-line8{
  box-shadow: 0 0 10px #007DA3, 0 0 20px #007DA3;
}
.team-members {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  padding-left: 1rem; 
}

.team-members img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -15px; 
}

.team-members .more {
  background: #FFDD00; 
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


#events-section {
  padding: 20px;
  background-image: url('./images/teambg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  margin-bottom: 30px;
  text-align: center; 
}

.header-left {
  max-width: 70%; 
}

.header h1 {
  font-size: 2.5rem;
  background: linear-gradient(to right, #F5E218 40%, #F520F5 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0; 
}

.header p {
  font-size: 1rem;
  color: #ffffff;
  margin: 10px 0 0; 
  margin-bottom: 30px;
}
.header-right {
  display: flex;
  justify-content: flex-end;
}

.portfolio-btn {
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.portfolio-btn img {
  height: 25px;
  margin-left: 10px;
}

/* Events Container */
.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 20px;
  justify-content: center;
}

.event-card {
  background-color: #111021;
  border-radius: 15px;
  overflow: hidden;
  width: 430px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.event-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /
}

.event-row {
  display: flex;
  align-items: center;
  padding: 20px;
}

.event-gradient {
  flex: 1;
  padding: 15px;
  background: linear-gradient(to bottom, #d1c4e9, #f3e5f5);
  padding-top: 20px;
  height: 140px;
  text-decoration: none;
  color: #1f1f3d;
  text-align: center;
  border-radius: 15px 0 0 15px;
}
.event-subtitle {
  padding: 2px;
  font-size: 0.575rem;
  font-weight: 100;
  color: #000000;
  border: 1px solid #504CFF;
  border-radius: 10px;
}
.event-gradient h2 {
  font-size: 1.5rem;
  margin: 0;
}
.event-thumbnail {
  flex: 1;
  height: 140px;
  background-size: cover;
  background-position: center;
  border-radius: 0 20px 20px 0 ;
  position: relative;
}

.event-thumbnail-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.event-description {
  padding: 0 20px 20px 20px;
  background-color: #111021;
  color: #ffffff;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0 0 15px 15px;
}
.event-description h2{
  padding-bottom: 10px;
  font-weight: 500;
  font-size: larger;
}
.event-info {
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 10px;
}

.event-date, .event-location {
  font-size: 0.9rem;
  color: #d3d3d3; 
  font-weight: 500; 
}

section {
  width: 100%;
  padding: 0; /* Remove default padding to ensure full width */
}

.aboutcontainer {
  padding: 3rem;
  background-image: url('./images/aboutbg.png');
  background-size: cover;
  background-position: center;
  text-align: left; /* Align content to the left */
  width: 100%; /* Full width */
  max-width: 100%; /* Ensure no max-width restriction */
  margin: 0 auto;
  box-sizing: border-box; /* Include padding in width */
  min-height: 726px; /* Increased height for section */
}

.aboutcontainer h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #fff;
  position: relative; /* Positioning the pseudo-element */
  padding-bottom: 0.5rem;
  display: inline-block; /* Ensure the underline is directly below the text */
}

.aboutcontainer h1::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Position the line a little below the text */
  left: 0;
  width: 100%; /* Make the underline match the width of the text */
  border-bottom: 2px solid #537FE7; /* Blue underline */
}

.aboutcontainer p {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: left; /* Align paragraph text to the left */
  color: #ddd;
  margin: 0; /* Remove centering margin */
  width: 100%; /* Make paragraph take up the full width */
}

.aboutcontainer .cards {
  display: flex;
  justify-content: flex-start; /* Align cards to the left */
  margin-top: 2rem;
  gap: 3rem; /* Increased gap between the cards */
  flex-wrap: wrap;
}

.aboutcontainer .cards .card {
  background-image: url('./images/aboutcard.png');
  background-size: 111%; /* Slight zoom out on the background image */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  width: 400px; /* Increased card width */
  height: 200px; /* Increased card height */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Increased shadow effect */
  transition: transform 0.3s;
  padding-left: 10px;
  margin-bottom: 2rem;
  border: 2px solid #000; /* Black border for the cards */
}

.aboutcontainer .cards .card:hover {
  transform: scale(1.03); /* Slightly reduced zoom on hover */
}

.aboutcontainer .cards .card a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  padding-left: 15px; /* Moved the text a bit to the right */
  transition: padding-left 0.3s;
}

.aboutcontainer .cards .card:hover a {
  padding-left: 25px; /* Move the text further right on hover */
}

.footer-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #000;
  color: #fff;
  text-align: left;
}

#wws {
  font-size: 2rem; /* Slightly smaller font size */
  color: #a5a4f1;
}

#mang {
  font-size: 0.9rem; 
  line-height: 1.5;
}

.footer-1 .button {
  background-color: white;
  color: #000;
  border: none;
  padding: 12px 30px; /* Adjusted padding */
  border-radius: 50px; /* Made the button oval-shaped */
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.footer-1 .button:hover {
  background-color: #a5a4f1;
  color: white;
}

.footer-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #000;
  color: #fff;
  text-align: left;
  border-top: 1px solid rgba(255, 255, 255, 0.44); /* Line above */
  border-bottom: 1px solid rgba(255, 255, 255, 0.44); /* Line below */
}

#wws {
  font-size: 2.8rem; /* Increased font size */
  color: #a5a4f1;
  line-height: 1.6;
  background: linear-gradient(90deg, #9795FF, #FFFFFF, #BE9FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#mang {
  font-size: 0.9rem; /* Slightly smaller font size */
  line-height: 1.5;
}

.button {
  background-color: #a5a4f1;
  color: #000;
  border: none;
  padding: 12px 30px; /* Adjusted padding */
  border-radius: 50px; /* Made the button oval-shaped */
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #fff;
  color: #a5a4f1;
}



.footer {
  padding: 30px; 
  background: black;
  background-image: url('./images/fbg.png'); 
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.footer-section {
  max-width: 280px; 
  margin-bottom: 15px; 
}

.footer-section p {
  margin-bottom: 10px;
  line-height: 1.6;
  background: linear-gradient(90deg, #9795FF, #FFFFFF, #BE9FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-section h3 {
  margin-bottom: 12px;
}

.our-domains a,
.support-feedback a {
  color: transparent;
  text-decoration: none;
  display: block;
  margin-bottom: 6px; 
}

.our-domains a {
  background: linear-gradient(to right, white, #9795FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.support-feedback a {
  background: linear-gradient(to bottom, white, #9795FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-section a:hover {
  text-decoration: underline;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 15px; 
  margin-top: 15px; 
}

.footer-bottom p {
  margin: 5px 0; 
}
/* Styling specifically for the "non tech" section */
.footer-section.non-tech {
   /* Dark background to differentiate */
  padding: 15px;
  border-radius: 10px;
}
.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #a5a4f1; /* Section headings color */
}

.footer-section a {
  display: block;
  background: linear-gradient(to right, white, #9795FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.9rem;
  margin-bottom: 5px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #a5a4f1; /* Highlight on hover */
}

.footer-links {
  display: flex;
}

.footer-links a {
  color: inherit; 
  text-decoration: none; 
  position: relative; 
}

.footer-links a:not(:last-child)::after {
  content: "•"; 
  color: #d7d7ea; 
  margin-left: 10px; 
  margin-right: 10px; 
}

.social-icons a {
  font-size: 18px; 
  margin-right: 10px; 
  color: #a5a4f1;
  text-decoration: none;
}

.social-icons a:hover {
  color: #9795FF;
}


/* Hamburger menu icon for mobile view */
.hamburger-menu {
  display: none; /* Hide hamburger menu by default */
}

.hamburger-button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.hamburger-menu.open {
  display: block;
}

/* Dropdown menu styling */
.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #000000;
  border: 1px solid #000000;
  display: none;
  position: absolute;
  right: 20px;
  top: 50px;
  width: 200px;
}

.dropdown-menu li {
  padding: 10px 15px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #000000;
}

.dropdown-menu li:hover {
  background-color: hsl(0, 0%, 95%);
}

/* Show dropdown menu when open */
.dropdown.open .dropdown-menu {
  display: block;
}/* Media Query: Max-width 1024px */
@media (max-width: 1024px) {
  header {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .logo {
    margin-left: 1rem;
    padding-top: 10px;
  }

  header .logo img {
    width: 200px;
  }

  header .nav-links {
    display: flex; /* Show navigation links */
    padding-top: 0;
    flex: 1;
    justify-content: center;
    position: static;
    background-color: transparent;
  }

  header .nav-links a {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }

  header .join-us {
    display: flex; /* Show "Join Us" button */
    align-items: center;
  }

  header .join-us a {
    font-size: 16px;
    padding: 0.2rem 0.5rem;
    border-radius: 15px;
  }

  header .hamburger-menu {
    display: none; /* Hide hamburger menu */
  }

  .domain-card h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

@media (max-width: 858px) {
  header {
    flex-wrap: wrap;
    position: fixed;
  }

  header .logo img {
    width: 350px;
  }

  header .nav-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #000;
    width: 100%;
    z-index: 10;
    text-align: center;
    display: none; /* Hidden by default */
  }

  header .nav-links li {
    margin: 10px 0;
  }

  header .nav-links.open {
    display: flex; /* Show when menu is open */
  }

  header .hamburger-menu {
    display: block; /* Visible in mobile view */
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
  }

  .hamburger-button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }

  header .join-us {
    display: none; /* Hide "Join Us" button on mobile */
  }
  .circular-text span {
    position: absolute;
    transform-origin: 40px 40px;
}
.arrow {
  position: absolute;
  font-size: 1.5rem;
  color: white;
  top: 50%; /* Center vertically */
  left: 90%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center */
  z-index: 2; /* Ensure it appears on top */
}

.scroll-indicator {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 3rem 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* Ensure no background interference */
}

.circular-text {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%; /* Center the circle */
  left: 50%;
  transform: translate(-50%, -50%);
}

.circular-text span {
  position: absolute;
  transform-origin: 40px 40px;
  font-size: 0.7rem;
  color: white;
  white-space: nowrap;
}

}
@media(max-width:809px){
  .domain-card{
    padding: 15px;
  }
}
@media(max-width:769px){
  .domain-card p {
    font-size: 0.8rem;
    margin-bottom: 0.5px;
}
}
@media (max-width:706px){
  .footer-1 .button {
    padding: 5px 5px;
  }
}
@media (max-width:655px){
  .footer-1 .button {
    padding: 3px 3px;
  }
}
@media (max-width:390px){
  .footer-1 .button {
    padding: 6px 8px;
  }
}
@media(max-width:667px){
  .domain-card h2 {
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 0;
}
}
@media(max-width:530px){
  .domain-card h2 {
    font-size: 0.8rem;
    margin-bottom: 8px;
    margin-top: 0;
}
.domain-card p {
  font-size: 0.7rem;
  margin-bottom: 0.5px;
}
}
@media(max-width:458px){

.domain-card .people img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -10px;
  position: relative;
}
}
/* Media Query: Max-width 426px */
@media (max-width: 426px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
  }

  header .logo img {
    width: 250px;
  }

  header .nav-links {
    display: none; /* Hide navigation links */
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #000000;
    width: 100%;
    z-index: 10;
    text-align: center;
  }

  header .nav-links.open {
    display: flex; /* Ensure only one dropdown is toggled */
  }

  header .join-us {
    display: none; /* Hide "Join Us" button */
  }

  header .hamburger-menu {
    display: block; /* Show hamburger menu */
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
  }

  .domain-card h2 {
    font-size: 0.8rem;
    margin-bottom: 8px;
    margin-top: 0;
}
.domain-card p {
  font-size: 0.7rem;
  margin-bottom: 0.5px;
}

.domain-card .people img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -10px;
  position: relative;
}

  .events-container {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
  }

  .event-card {
    margin: 10px auto;
    border-radius: 15px;
  }
  .team-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  }
}
@media (max-width: 413px){
  .hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.arrow {
  position: absolute;
  font-size: 1.5rem;
  color: white;
  top: 50%; /* Center vertically */
  left: 80%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center */
  z-index: 2; /* Ensure it appears on top */
}

.scroll-indicator {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 3rem 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* Ensure no background interference */
}

.circular-text {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%; /* Center the circle */
  left: 40%;
  transform: translate(-50%, -50%);
}

.circular-text span {
  position: absolute;
  transform-origin: 40px 40px;
  font-size: 0.7rem;
  color: white;
  white-space: nowrap;
}
.domain-card h2 {
  font-size: 0.8rem;
  margin-bottom: 5px;
  margin-top: 0;
}
.domain-card p {
font-size: 0.6rem;
margin-bottom: 0.5px;
}

.domain-card .people img {
width: 25px;
height: 25px;
border-radius: 50%;
border: 2px solid white;
margin-left: -10px;
position: relative;
}
.executive-body .profile-pics img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateX(-5px);
}
/* Events Container */
.events-container {
  display: grid;
  grid-template-columns: 1fr; /* Stack the cards in a single column */
  gap: 15px; /* Reduced gap for smaller screens */
  justify-content: center;
  padding: 10px; /* Added padding for spacing */
}

.event-card {
  width: 100%; /* Full width of the container */
  margin: 10px 0; /* Reduced margin for better spacing */
}

.event-row {
  display: block; /* Stack items vertically */
  padding: 15px;
}

.event-gradient {
  padding: 10px;
  height: auto; /* Adjust font size for better readability */
  border-radius: 15px 15px 0 0; /* Slightly adjusted for better fit */
}

.event-subtitle {
  font-size: 0.5rem; /* Reduced font size for smaller screens */
}

.event-gradient h2 {
  font-size: 1.3rem; /* Slightly smaller font for headings */
}

.event-thumbnail {
  height: 120px; /* Adjusted height for better fit */
  border-radius: 0 0 15px 15px; /* Adjusted corners to match the layout */
}

.event-thumbnail-icon {
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px; /* Slightly smaller icon for better fit */
}

.event-description {
  padding: 0 15px 15px 15px;
  font-size: 0.9rem; /* Adjusted font size for readability */
}

.event-description h2 {
  font-size: 1.2rem; /* Slightly smaller heading */
}

.event-info {
  flex-direction: column; /* Stack the event info vertically */
  align-items: flex-start; /* Align items to the left */
}

.event-date, .event-location {
  font-size: 0.8rem; /* Adjust font size for smaller screens */
}
}

@media (max-width: 390px){
  .team-members img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -15px;
}
}
/* Media Query: Max-width 375px */
@media (max-width: 377px) {
  
.domain-card h2 {
  font-size: 0.7rem;
  margin-bottom: 4px;
  margin-top: 0;
}
.domain-card p {
font-size: 0.55rem;
margin-bottom: 0.5px;
}

.domain-card .people img {
width: 20px;
height: 20px;
border-radius: 50%;
border: 2px solid white;
margin-left: -10px;
position: relative;
}
.executive-body .profile-pics img {
  width: 40px;
  height:40px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateX(-5px);
}
}

/* Media Query: Max-width 320px */
@media (max-width: 320px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
  }

  header .logo img {
    width: 280px;
  }

  header .nav-links {
    display: none; /* Hide navigation links */
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #000000;
    width: 100%;
    z-index: 10;
    text-align: center;
  }

  header .nav-links.open {
    display: flex; /* Ensure dropdown visibility */
  }

  header .join-us {
    display: none; /* Hide "Join Us" button */
  }

  header .hamburger-menu {
    display: block; /* Show hamburger menu */
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
  }

  .domain-card h2 {
    font-size: 1rem;
    margin-bottom: 8px;
    margin-top: 0;
  }

  .domain-card p {
    font-size: 0.6rem;
  }
  .executive-body .profile-pics img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateX(-5px);
  }
}